{% extends "base.html" %}

{% block title %} Question {% endblock %}

{% block body %}
    <h1>{{ question.title }}</h1>
    <p><i>{{ question.author.username }}</i>: {{ question.text }}</p>
    <br>
    <b>Answer form:</b>
    <form action='{{ form.url }}' method='post'>
    {{ form.as_ul }}
    <input type="submit">
    {% csrf_token %}
    </form>
    <br>
    <b>Answers:</b>
    {% for answer in answers %}
        <p><i>{{ answer.author.username }}</i>: {{ answer.text }}</p>
    {% endfor %}
{% endblock %}
